* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

.body {
    margin: 0;
}

.content_index {
    margin-left: 200px;
    padding-left: 20px;
}

.content_signup {
    margin-left: 200px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}

.div1 {
    display: flex;
    justify-content: center;
}

.div2 {
    display: flex;
    justify-content: center;
}

.lonelyp {
    display: flex;
    justify-content: center;
}

.contentNV {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
}

.contentNV h1 {
    color: whitesmoke;
    padding-left: 7px;
}

.contentNV a {
    color: whitesmoke;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.contentNV a:hover {
    background-color: whitesmoke;
    color: black;
}

.contentNV nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.contentCE {
    width: 20%;
    padding: 14px 14px;
    margin: 4px 0;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
}

.contentCE form {
    width: 100%;
}

.contentCE form input,
textarea {
    display: block;
    width: 100%;
    padding: 4px 8px;
    margin: 4px 0;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
}

.contentSU {
    width: 20%;
    padding: 4px 7px;
    margin: 4px 0;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
}

.contentSU form input {
    display: block;
    width: 100%;
    padding: 4px 7px;
    margin: 4px 0;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
}

.sigup {
    border: none;
    background-color: rgb(0, 0, 0);
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    font-size: 18px;
    color: whitesmoke;
}

.submitava,
.submiteve {
    background-color: black;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px;
    font-size: 18px;
    padding: 12px 30px;
    color: whitesmoke;
}
.submitava{
    display: flex;
    justify-content: center;
}

.submitava:hover,
.submiteve:hover,
.sigup:hover {
    background-color: whitesmoke;
    color: black;
}

.contentAV,
.contentRE {
    width: 25%;
    padding: 4px 8px;
    margin: 4px 0;
    /* border: 1px solid rgb(202, 202, 202);
    border-radius: 4px; */
    box-sizing: border-box;
}

.tbavail thead,
.tbresults thead {
    border-bottom: 1px solid #ddd;
    color: black;
    width: 100%;
    padding: 4px 7px;
    margin: 4px 0;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
}

.tbavail thead tr th,
tr,
.tbresults thead tr th,
tr {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

footer {
    background-color: black;
    font-style: italic;
    font-size: small;
    color: whitesmoke;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}